<div class="resume-social">
    ${resumeData.github ? `<a href="${resumeData.github}" target="_blank">🌐 GitHub</a>` : ''} ${resumeData.linkedin ? `<a href="${resumeData.linkedin}" target="_blank">💼 LinkedIn</a>` : ''} ${resumeData.instagram ? `<a href="${resumeData.instagram}"
        target="_blank">📸 Instagram</a>` : ''} ${resumeData.facebook ? `<a href="${resumeData.facebook}" target="_blank">📘 Facebook</a>` : ''} ${resumeData.twitter ? `<a href="${resumeData.twitter}" target="_blank">🐦 Twitter</a>` : ''} ${resumeData.website
    ? `<a href="${resumeData.website}" target="_blank">🌍 Website</a>` : ''}
</div>